* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #000, #390047);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.choice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 22px;
}

.choice button {
    background: none;
    border: none;
    outline: none;
    width: 172px;
    height: 172px;
    margin: 0 48px;
    cursor: pointer;
    transition: transform 100ms;
}

.choice button:active {
    transform: scale(0.8);
}

.choice button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.player,
.computer {
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player h4,
.computer h4 {
    color: white;
    opacity: .7;
}

.player span,
.computer span {
    color: white;
    font-size: 34px;
    font-weight: bold;
}

.player img,
.computer img {
    width: 288px;
    height: 288px;
    object-fit: contain;
    opacity: 0;
}

.player {
    left: 15%;
}

.computer {
    right: 15%;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    opacity: 0;
}